.signup {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #f7f9ff;
  width: 100%;
  min-height: 90vh;

  h1 {
    font-size: 5rem;
    color: #ff5959;
  }
}

.signup__info {
  display: flex;
  flex-flow: column;
  padding: 50px 0;
  label {
    margin-bottom: 5px;
    padding-left: 5px;
  }
  input {
    margin-bottom: 20px;
    background-color: #fafafa;
    width: 400px;
    border: 1px solid #e2e2e2;
    height: 40px;
    font-size: 1.1rem;
    padding: 0 10px;
    border-radius: 5px;
  }
  button {
    border: none;
    margin-top: 20px;
    background-color: #ff5959;
    height: 50px;
    width: 200px;
    color: #e2e2e2;
    font-size: 1rem;
    border-radius: 10px;
    align-self: center;
    cursor: pointer;
    transition: 0.2s all ease;
    &:hover {
      background-color: #ff4c4c;
    }
  }
}

@media screen and (max-width: 600px) {
  .signup {
    h1 {
      font-size: 4rem;
    }
  }
  .signup__info {
    input {
      width: 300px;
    }
  }
}
