@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  font-weight: lighter;
  color: #676fa3;
}

html {
  scroll-behavior: smooth;
}

body {
}

.App {
  display: flex;
  flex-flow: column;
  align-items: center;
  min-height: 100vh;
}

textarea:focus,
input:focus {
  outline: none;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: rgb(140, 140, 140);
}

::-webkit-scrollbar-thumb {
  background: rgb(80, 80, 80);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(120, 120, 120);
}

.dot-revolution {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ff5959;
  color: #ff5959;
  margin: 100px 0;
}

.dot-revolution::before,
.dot-revolution::after {
  content: "";
  display: inline-block;
  position: absolute;
}

.dot-revolution::before {
  left: 0;
  top: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ff5959;
  color: #ff5959;
  transform-origin: 5px 20px;
  animation: dotRevolution 1.4s linear infinite;
}

.dot-revolution::after {
  left: 0;
  top: -30px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ff5959;
  color: #ff5959;
  transform-origin: 5px 35px;
  animation: dotRevolution 1s linear infinite;
}

@keyframes dotRevolution {
  0% {
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 0, 0);
  }
}
