.restaurant {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding-bottom: 100px;
}

// restaurant-land

.restaurant__restaurant-land {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #676fa3;
  width: 100%;
  .dot-revolution {
    margin: 0 0 100px 0;
  }
}

.restaurant__stuff {
  display: flex;
  background-color: #ffffff23;
  padding: 50px;
  border-radius: 20px;
}

.restaurant__logo {
  width: 210px;
  img {
    height: 100%;
    width: 100%;
  }
}

.restaurant__info {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px 0 0 30px;
  h1 {
    color: #ff5959;
    font-size: 3.5rem;
    font-weight: bold;
  }
  img {
    width: 210px;
    margin: 10px 0 30px 0;
    display: none;
  }
  span {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  p {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 700px) {
  .restaurant__restaurant-land {
    height: 85vh;
  }
  .restaurant__stuff {
    flex-flow: column;
    align-items: center;
    text-align: center;
  }
  .restaurant__logo {
    display: none;
  }
  .restaurant__info {
    padding: 0;
    img {
      display: block;
    }
  }
}

@media screen and (max-width: 420px) {
  .restaurant__stuff {
    padding: 50px 40px;
  }
  .restaurant__info {
    padding: 0;
    h1 {
      font-size: 3rem;
    }
    img {
      width: 150px;
      display: block;
    }
    span {
      font-size: 1.1rem;
    }
    p {
      font-size: 1.3rem;
    }
  }
}

@media screen and (max-width: 360px) {
  .restaurant__stuff {
    padding: 50px 30px;
  }
  .restaurant__info {
    padding: 0;
    img {
      width: 150px;
      display: block;
    }
    span {
      font-size: 1rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
}

// restaurant-foods

.restaurant__restaurant-foods {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 50px 0;
  width: 100%;
}

.restaurant__restaurant-food {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.restaurant__food-img {
  width: 200px;
  img {
    height: 100%;
    width: 100%;
  }
}

.restaurant__food-info {
  display: flex;
  flex-flow: column;
  width: 400px;
  overflow-x: hidden;
  h1 {
    color: #ff5959;
    font-size: 2rem;
    font-weight: bold;
    white-space: nowrap;
  }
  img {
    display: none;
    width: 130px;
  }
  p {
    margin: 5px 0 20px 0;
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 5px;
  }
}

.restaurant__add-food {
  display: flex;
  align-items: center;
  user-select: none;

  button {
    width: 200px;
    padding: 10px 0;
    cursor: pointer;
    border: none;
    background-color: #ff5959;
    color: #fff;
    border-radius: 5px;
    transition: 0.3s all ease;
  }
  h3 {
    padding: 10px 20px;
    background-color: #ff5959;
    color: #fff;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    animation: slide-right 0.5s;
  }
}

.restaurant__food-incrim {
  display: flex;
  align-items: center;
  margin: 0 20px;
  font-size: 1.5rem;
  animation: slide-right 0.5s;
  * {
    cursor: pointer;
  }
  span {
    margin: 0 10px;
    cursor: default;
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-bottom {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1400px) {
  .restaurant__food-img {
    width: 160px;
  }

  .restaurant__food-info {
    width: 400px;
    h1 {
      font-size: 2.2rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  .restaurant__add-food {
    button {
      width: 150px;
    }
  }

  .restaurant__food-incrim {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1000px) {
  .restaurant__food-img {
    width: 140px;
  }

  .restaurant__food-info {
    width: 400px;
    h1 {
      font-size: 1.9rem;
    }
    p {
      font-size: 1rem;
    }
  }

  .restaurant__add-food {
    button {
      width: 120px;
    }
  }

  .restaurant__food-incrim {
    font-size: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .restaurant__food-img {
    width: 130px;
    display: none;
  }

  .restaurant__food-info {
    width: 400px;
    align-items: center;
    padding: 0;
    h1 {
      font-size: 2.2rem;
    }
    img {
      display: block;
    }
    p {
      font-size: 1.2rem;
    }
  }

  .restaurant__add-food {
    flex-flow: column;
    button {
      width: 150px;
    }
    h3 {
      animation: slide-bottom 0.5s;
    }
  }

  .restaurant__food-incrim {
    animation: slide-bottom 0.5s;
    font-size: 1.4rem;
    margin: 20px 0;
  }
}

@media screen and (max-width: 450px) {
  .restaurant__food-info {
    width: 300px;
    h1 {
      font-size: 1.8rem;
    }
    p {
      font-size: 0.9rem;
    }
  }

  .restaurant__add-food {
    button {
      width: 150px;
    }
  }

  .restaurant__food-incrim {
    font-size: 1.2rem;
  }
}
