.navbar-b {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 300px;
  background-color: #676fa3;
  position: relative;

  img {
    cursor: pointer;
  }
}

.navbar__list-b {
  display: flex;
  align-items: center;
  width: 330px;
  justify-content: space-between;

  li {
    cursor: pointer;
    font-size: 1.1rem;
    color: #eef2ff;
    text-transform: uppercase;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #ff5959;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }
    &:hover::after {
      visibility: visible;
      width: 100%;
    }
  }

  .li-active {
    padding: 15px 25px;
    background-color: #ff5959;
    border-radius: 30px;
    transition: 0.4s all ease;
    &::after {
      display: none;
    }
    &:hover {
      background-color: #ff4f4f;
    }
  }
}

.navbar-w {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 300px;
  background-color: #f7f9ff;
  position: relative;

  img {
    cursor: pointer;
  }
}

.navbar__list-w {
  display: flex;
  align-items: center;
  width: 330px;
  justify-content: space-between;

  li {
    cursor: pointer;
    font-size: 1.1rem;
    color: #676fa3;
    text-transform: uppercase;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #ff5959;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }
    &:hover::after {
      visibility: visible;
      width: 100%;
    }
  }

  .li-active {
    padding: 15px 25px;
    background-color: #ff5959;
    color: #eef2ff;
    border-radius: 30px;
    transition: 0.4s all ease;
    &::after {
      display: none;
    }
    &:hover {
      background-color: #ff4f4f;
    }
  }
}

.nav-icon {
  display: none;
  width: 60px;
  height: 45px;
  z-index: 20;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #ff4f4f;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(3) {
      top: 18px;
    }
    &:nth-child(2) {
      top: 18px;
    }
    &:nth-child(4) {
      top: 36px;
    }
  }
}

.nav-icon-open {
  position: fixed;
  right: 30px;
  span {
    &:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }
}

.navbar-res {
  display: none;
  flex-flow: column;
  padding-top: 200px;
  align-items: center;
  position: fixed;
  width: 0%;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #eef2ff;
  width: 100%;
  height: 1200px;
  animation: burger-close 0.5s;
  li {
    color: #676fa3;
    font-size: 2.5rem;
    margin-bottom: 25px;
    animation: burger-li 1s;
    border-bottom: 1px solid #676fa3;
  }
}

.navbar-res-open {
  display: flex;
  animation: burger-open 0.5s;
}

@keyframes burger-open {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@media screen and (max-width: 1750px) {
  .navbar-b {
    padding: 10px 200px;
  }
  .navbar-w {
    padding: 10px 200px;
  }
}

@media screen and (max-width: 1450px) {
  .navbar-b {
    padding: 10px 100px;
  }
  .navbar-w {
    padding: 10px 100px;
  }
}

@media screen and (max-width: 1000px) {
  .navbar-w {
    padding: 10px 30px;
  }
  .navbar__list-w {
    width: 300px;
    li {
      font-size: 1rem;
    }
  }
  .navbar-b {
    padding: 10px 30px;
  }
  .navbar__list-b {
    width: 300px;
    li {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 750px) {
  .navbar-w {
    padding: 10px 20px;
  }
  .navbar__list-w {
    display: none;
  }
  .navbar-b {
    padding: 10px 20px;
  }
  .navbar__list-b {
    display: none;
  }
  .nav-icon {
    display: block;
  }
}
