.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 300px;
  background-color: #676fa3;

  img {
    cursor: pointer;
  }
}

.navbar__list {
  display: flex;
  align-items: center;
  width: 330px;
  justify-content: space-between;

  li {
    cursor: pointer;
    font-size: 1.2rem;
    color: #eef2ff;
    text-transform: uppercase;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #ff5959;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }
    &:hover::after {
      visibility: visible;
      width: 100%;
    }
  }

  .li-active {
    padding: 15px 25px;
    background-color: #ff5959;
    border-radius: 30px;
    transition: 0.4s all ease;
    &::after {
      display: none;
    }
    &:hover {
      background-color: #ff4f4f;
    }
  }
}

@media screen and (max-width: 1600px) {
  .navbar {
    padding: 10px 200px;
  }
}

@media screen and (max-width: 1300px) {
  .navbar {
    padding: 10px 100px;
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    padding: 10px 30px;
  }
  .navbar__list {
    width: 300px;
    li {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 750px) {
  .navbar {
    padding: 10px 30px;
  }
  .navbar__list {
    display: none;
  }
}
