@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  font-weight: lighter;
  color: #676fa3;
}

html {
  scroll-behavior: smooth;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

textarea:focus,
input:focus {
  outline: none;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #8c8c8c;
}

::-webkit-scrollbar-thumb {
  background: #505050;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #787878;
}

.navbar-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 300px;
  background-color: #676fa3;
  position: relative;
}

.navbar-b img {
  cursor: pointer;
}

.navbar__list-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 330px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__list-b li {
  cursor: pointer;
  font-size: 1.1rem;
  color: #eef2ff;
  text-transform: uppercase;
  position: relative;
}

.navbar__list-b li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff5959;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar__list-b li:hover::after {
  visibility: visible;
  width: 100%;
}

.navbar__list-b .li-active {
  padding: 15px 25px;
  background-color: #ff5959;
  border-radius: 30px;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.navbar__list-b .li-active::after {
  display: none;
}

.navbar__list-b .li-active:hover {
  background-color: #ff4f4f;
}

.navbar-w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 300px;
  background-color: #f7f9ff;
  position: relative;
}

.navbar-w img {
  cursor: pointer;
}

.navbar__list-w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 330px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__list-w li {
  cursor: pointer;
  font-size: 1.1rem;
  color: #676fa3;
  text-transform: uppercase;
  position: relative;
}

.navbar__list-w li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff5959;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar__list-w li:hover::after {
  visibility: visible;
  width: 100%;
}

.navbar__list-w .li-active {
  padding: 15px 25px;
  background-color: #ff5959;
  color: #eef2ff;
  border-radius: 30px;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.navbar__list-w .li-active::after {
  display: none;
}

.navbar__list-w .li-active:hover {
  background-color: #ff4f4f;
}

.nav-icon {
  display: none;
  width: 60px;
  height: 45px;
  z-index: 20;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #ff4f4f;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav-icon span:nth-child(1) {
  top: 0px;
}

.nav-icon span:nth-child(3) {
  top: 18px;
}

.nav-icon span:nth-child(2) {
  top: 18px;
}

.nav-icon span:nth-child(4) {
  top: 36px;
}

.nav-icon-open {
  position: fixed;
  right: 30px;
}

.nav-icon-open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav-icon-open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon-open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-icon-open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navbar-res {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-top: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 0%;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #eef2ff;
  width: 100%;
  height: 1200px;
  -webkit-animation: burger-close 0.5s;
          animation: burger-close 0.5s;
}

.navbar-res li {
  color: #676fa3;
  font-size: 2.5rem;
  margin-bottom: 25px;
  -webkit-animation: burger-li 1s;
          animation: burger-li 1s;
  border-bottom: 1px solid #676fa3;
}

.navbar-res-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: burger-open 0.5s;
          animation: burger-open 0.5s;
}

@-webkit-keyframes burger-open {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes burger-open {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@media screen and (max-width: 1600px) {
  .navbar-b {
    padding: 10px 200px;
  }
  .navbar-w {
    padding: 10px 200px;
  }
}

@media screen and (max-width: 1300px) {
  .navbar-b {
    padding: 10px 100px;
  }
  .navbar-w {
    padding: 10px 100px;
  }
}

@media screen and (max-width: 1000px) {
  .navbar-w {
    padding: 10px 30px;
  }
  .navbar__list-w {
    width: 300px;
  }
  .navbar__list-w li {
    font-size: 1rem;
  }
  .navbar-b {
    padding: 10px 30px;
  }
  .navbar__list-b {
    width: 300px;
  }
  .navbar__list-b li {
    font-size: 1rem;
  }
}

@media screen and (max-width: 750px) {
  .navbar-w {
    padding: 10px 20px;
  }
  .navbar__list-w {
    display: none;
  }
  .navbar-b {
    padding: 10px 20px;
  }
  .navbar__list-b {
    display: none;
  }
  .nav-icon {
    display: block;
  }
}

.home {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__home-land {
  height: 70vh;
  background-color: #676fa3;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__food {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 70px 0 0 0;
  pointer-events: none;
}

.home__food .home__ramen {
  position: absolute;
  left: -30px;
}

.home__food .home__dumplings {
  position: absolute;
  right: 0;
}

.home__food img {
  height: 400px;
}

.home__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
  padding: 0 200px;
}

.home__main .home__title p {
  font-size: 6rem;
  color: #eef2ff;
}

.home__main .home__title span {
  color: #ff5959;
}

.home__main .home__btn button {
  background-color: #ff5959;
  border: #ff5959 2px solid;
  padding: 20px 70px;
  border-radius: 10px;
  color: #eef2ff;
  font-size: 1.5rem;
  margin: 0 100px;
  cursor: pointer;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.home__main .home__btn button:hover {
  background-color: #676fa3;
  color: #ff5959;
  border: #ff5959 2px solid;
}

@media screen and (max-width: 1700px) {
  .home__food img {
    height: 350px;
  }
  .home__main .home__title p {
    font-size: 5.2rem;
  }
  .home__main .home__btn button {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1500px) {
  .home__main .home__title p {
    font-size: 5rem;
  }
  .home__main .home__btn button {
    font-size: 1.1rem;
    margin: 0 80px;
  }
}

@media screen and (max-width: 1400px) {
  .home__home-land {
    height: 60vh;
  }
  .home__food img {
    height: 300px;
  }
  .home__main .home__title p {
    font-size: 4.5rem;
  }
  .home__main .home__btn button {
    padding: 15px 50px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .home__food {
    display: none;
  }
  .home__main {
    padding: 0 100px;
  }
}

@media screen and (max-width: 1000px) {
  .home__main {
    padding: 0 30px;
  }
  .home__main .home__btn button {
    margin: 0 40px;
  }
}

@media screen and (max-width: 750px) {
  .home__home-land {
    height: 70vh;
  }
  .home__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__main .home__title {
    margin: 80px 0;
  }
  .home__main .home__btn button {
    margin: 0;
    padding: 15px 80px;
  }
}

@media screen and (max-width: 500px) {
  .home__home-land {
    height: 80vh;
  }
  .home__main {
    padding: 0 40px 0 40px;
  }
  .home__main .home__title {
    margin: 50px 0;
  }
}

@media screen and (max-width: 350px) {
  .home__home-land {
    height: 80vh;
  }
  .home__main {
    padding: 0 40px 0 40px;
  }
  .home__main .home__title {
    margin: 50px 0;
  }
  .home__main .home__title p {
    font-size: 4rem;
  }
}

.home__home-get-give {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home__get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1300px;
  padding: 60px 100px;
  background-color: #cddeff;
  border-radius: 20px;
  margin-bottom: 50px;
}

.home__get1 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home__get1 h1 {
  font-size: 4.5rem;
  color: #ff5959;
  margin-bottom: 5px;
}

.home__get1 p {
  font-size: 1.3rem;
  padding: 0 60px;
}

.home__get2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.home__get2 .home__get-search p {
  margin: 0 0 5px 5px;
}

.home__get2 .home__get-search input {
  width: 400px;
  height: 35px;
  border-radius: 10px;
  border: none;
  padding: 0 10px;
  font-size: 1rem;
}

.home__get2 .home__get-search button {
  background-color: #ff5959;
  border: none;
  height: 35px;
  width: 50px;
  margin-left: 10px;
  border-radius: 5px;
  color: #eef2ff;
  cursor: pointer;
}

.home__get2 span {
  margin-top: 20px;
  padding: 10px 30px;
  text-transform: uppercase;
  background-color: #ff5959;
  color: #eef2ff;
  border-radius: 8px;
  cursor: pointer;
}

.home__give {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1300px;
  padding: 60px 100px;
  background-color: #cddeff;
  border-radius: 20px;
}

.home__give1 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home__give1 h1 {
  font-size: 4.5rem;
  color: #ff5959;
  margin-bottom: 5px;
}

.home__give1 p {
  font-size: 1.3rem;
  padding: 0 60px;
}

.home__give2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.home__give2 span {
  padding: 15px 50px;
  text-transform: uppercase;
  background-color: #ff5959;
  color: #eef2ff;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 1800px) {
  .home__get {
    width: 1200px;
  }
  .home__give {
    width: 1200px;
  }
  .home__get2 .home__get-search input {
    width: 300px;
  }
}

@media screen and (max-width: 1500px) {
  .home__get {
    width: 1000px;
  }
  .home__give {
    width: 1000px;
  }
  .home__get1 h1 {
    font-size: 4rem;
  }
  .home__get1 p {
    font-size: 1.1rem;
  }
  .home__give1 h1 {
    font-size: 4rem;
  }
  .home__give1 p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1200px) {
  .home__get {
    width: 850px;
    padding: 60px 50px;
  }
  .home__give {
    width: 850px;
    padding: 60px 50px;
  }
  .home__get1 h1 {
    font-size: 4rem;
  }
  .home__get1 p {
    font-size: 1.1rem;
  }
  .home__get2 .home__get-search input {
    width: 280px;
  }
  .home__give1 h1 {
    font-size: 4rem;
  }
  .home__give1 p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 950px) {
  .home__get {
    width: 700px;
    padding: 60px 20px;
  }
  .home__give {
    width: 700px;
    padding: 60px 20px;
  }
  .home__get1 h1 {
    font-size: 3.5rem;
  }
  .home__get1 p {
    font-size: 1rem;
  }
  .home__get2 .home__get-search input {
    width: 250px;
  }
  .home__get2 span {
    font-size: 0.9rem;
  }
  .home__give1 h1 {
    font-size: 3.5rem;
  }
  .home__give1 p {
    font-size: 1rem;
  }
  .home__give2 span {
    font-size: 0.9rem;
    padding: 15px 30px;
  }
}

@media screen and (max-width: 750px) {
  .home__get {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 500px;
    padding: 60px 10px;
  }
  .home__give {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 500px;
    padding: 60px 10px;
  }
  .home__get1 {
    width: 100%;
    margin-bottom: 30px;
  }
  .home__get2 {
    width: 100%;
  }
  .home__get2 .home__get-search input {
    width: 300px;
  }
  .home__get2 span {
    padding: 15px 40px;
  }
  .home__give1 {
    width: 100%;
    margin-bottom: 30px;
  }
  .home__give2 {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .home__get {
    width: 390px;
  }
  .home__give {
    width: 390px;
  }
  .home__get1 p {
    padding: 0 15px;
  }
  .home__get2 .home__get-search input {
    width: 250px;
  }
  .home__give1 p {
    padding: 0 15px;
  }
}

@media screen and (max-width: 410px) {
  .home__get {
    width: 340px;
  }
  .home__give {
    width: 340px;
  }
}

@media screen and (max-width: 365px) {
  .home__get {
    width: 300px;
  }
  .home__give {
    width: 300px;
  }
  .home__get2 .home__get-search input {
    width: 200px;
  }
}

.home__home-sr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 1200px;
  margin: 50px 0 100px 0;
}

.home__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__service span {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
  text-transform: uppercase;
}

.home__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 80px 0 0 0;
}

.home__reviews h1 {
  font-size: 4rem;
  color: #ff5959;
  -webkit-text-decoration: underline 3px;
          text-decoration: underline 3px;
  text-underline-offset: 0.5rem;
  margin-bottom: 10px;
}

.home__reviews h2 {
  font-size: 2rem;
  padding: 0 50px;
  margin-top: 20px;
}

@media screen and (max-width: 1500px) {
  .home__home-sr {
    width: 1000px;
  }
  .home__service img {
    height: 200px;
  }
}

@media screen and (max-width: 1200px) {
  .home__home-sr {
    width: 850px;
  }
  .home__service img {
    height: 170px;
  }
  .home__reviews h1 {
    font-size: 3.5rem;
  }
  .home__reviews h2 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 950px) {
  .home__home-sr {
    width: 700px;
  }
  .home__service img {
    height: 140px;
  }
  .home__service span {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 750px) {
  .home__home-sr {
    width: 500px;
  }
  .home__services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .home__service {
    margin: 20px 0;
  }
  .home__service img {
    height: 170px;
  }
  .home__reviews h1 {
    font-size: 3.2rem;
  }
  .home__reviews h2 {
    font-size: 1.6rem;
    padding: 0;
  }
}

@media screen and (max-width: 550px) {
  .home__home-sr {
    width: 390px;
  }
  .home__service img {
    height: 150px;
  }
}

@media screen and (max-width: 410px) {
  .home__home-sr {
    width: 340px;
  }
  .home__service img {
    height: 150px;
  }
  .home__reviews h1 {
    font-size: 3rem;
  }
  .home__reviews h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 365px) {
  .home__home-sr {
    width: 310px;
  }
  .home__service img {
    height: 130px;
  }
  .home__service span {
    font-size: 1.5rem;
  }
  .home__reviews h1 {
    font-size: 2.7rem;
  }
  .home__reviews h2 {
    font-size: 1.3rem;
  }
}

.home__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 200px;
  width: 100%;
  background-color: #676fa3;
}

.home__footer img {
  height: 120px;
  margin-top: 30px;
}

.explore {
  background-color: #f7f9ff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.explore h1 {
  font-size: 5rem;
  color: #ff5959;
}

.explore input {
  width: 700px;
  border: 1px solid #e2e2e2;
  height: 40px;
  border-radius: 10px;
  background-color: #f0f0f0;
  margin-top: 15px;
  font-size: 1rem;
  padding: 5px 10px;
}

.explore__resturants {
  padding: 80px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 10rem;
          column-gap: 10rem;
  row-gap: 3rem;
}

.explore__resturant {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.explore__resturant img {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.explore__resturant img:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media screen and (max-width: 1500px) {
  .explore__resturants {
    -webkit-column-gap: 6rem;
            column-gap: 6rem;
  }
  .explore__resturant {
    width: 200px;
  }
}

@media screen and (max-width: 1000px) {
  .explore__resturants {
    -webkit-column-gap: 3.5rem;
            column-gap: 3.5rem;
  }
  .explore__resturant {
    width: 180px;
  }
}

@media screen and (max-width: 850px) {
  .explore input {
    width: 500px;
  }
  .explore__resturants {
    -webkit-column-gap: 3.5rem;
            column-gap: 3.5rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .explore__resturant {
    width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .explore input {
    width: 450px;
  }
  .explore__resturant {
    width: 170px;
  }
}

@media screen and (max-width: 500px) {
  .explore {
    padding: 20px 0;
  }
  .explore h1 {
    font-size: 4rem;
  }
  .explore input {
    width: 350px;
    height: 35px;
  }
  .explore__resturants {
    padding: 40px 0;
    -webkit-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
  .explore__resturant {
    width: 130px;
  }
}

@media screen and (max-width: 400px) {
  .explore h1 {
    font-size: 3.8rem;
  }
  .explore input {
    width: 320px;
  }
}

@media screen and (max-width: 360px) {
  .explore h1 {
    font-size: 3.6rem;
  }
  .explore input {
    width: 300px;
  }
  .explore__resturants {
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .explore__resturant {
    width: 120px;
  }
}
/*# sourceMappingURL=styles.css.map */