.explore {
  background-color: #f7f9ff;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px 0;
  min-height: 100vh;

  h1 {
    font-size: 5rem;
    color: #ff5959;
  }
}

.explore__restaurants {
  padding: 80px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  column-gap: 4rem;
  cursor: pointer;
}

.explore__restaurant {
  display: flex;
  color: inherit;
  text-decoration: none;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(0.9);
  }
}

.explore__restaurant-logo {
  width: 150px;
  img {
    height: 100%;
    width: 100%;
  }
}

.explore__restaurant-info {
  display: flex;
  flex-flow: column;
  padding: 10px 20px;
  h2 {
    font-size: 2.5rem;
    color: #ff5959;
  }
  p,
  span,
  h3 {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 1400px) {
  .explore__restaurants {
    column-gap: 4rem;
  }

  .explore__restaurant-logo {
    width: 130px;
  }

  .explore__restaurant-info {
    h2 {
      font-size: 2.1rem;
    }
    p,
    span,
    h3 {
      font-size: 1.1rem;
    }
  }
}

@media screen and (max-width: 950px) {
  .explore__restaurants {
    padding: 60px 0;
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}

@media screen and (max-width: 600px) {
  .explore {
    h1 {
      font-size: 4rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .explore {
    padding: 20px 0;
  }
}

@media screen and (max-width: 450px) {
  .explore {
    h1 {
      font-size: 3.8rem;
    }
  }
  .explore__restaurant-logo {
    width: 120px;
  }

  .explore__restaurant-info {
    padding: 10px 10px;
    h2 {
      font-size: 2rem;
    }
    p,
    span,
    h3 {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 360px) {
  .explore {
    h1 {
      font-size: 3.6rem;
    }
  }
  .explore__restaurant-logo {
    width: 110px;
  }
  .explore__restaurant-info {
    h2 {
      font-size: 1.8rem;
    }
    p,
    span,
    h3 {
      font-size: 0.9rem;
    }
  }
}
